@import "tailwindcss";

:root {
  --background-dark: #1a2330;
  --text-color-light: #ffffff;
  --background-light: #e9e9e9;
  --text-color-dark: #000000;
  --border-light: #d1d5dc;
  --border-dark: #1a2330;
}

.light {
  background-color: var(--background-light);
  color: var(--text-color-dark);
  border-color: var(--border-dark);
}

.dark {
  background-color: var(--background-dark);
  color: var(--text-color-light);
  border-color: var(--border-light);
}